//Breakpoints
@mixin breakpoint($point) {
   @if $point == xlarge {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == large {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == medium {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == small {
     @media (min-width: 38em)  { @content ; }
  }
}

//Responsive typography
@mixin ms-responsive( $scale ) {
 font-size: ms( $scale );
  @include breakpoint( small ) {
    font-size: ms( $scale, $thread: medium );
  }
  @include breakpoint( medium ) {
    font-size: ms( $scale, $thread: large);
  }
}
